@import "styles/colors.less";
@import "styles/paragraphs.less";

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: @blue-500;
  border-radius: 6px;
  padding: 6px 12px;
  border: 0;
  color: @white;

  .paragraph-medium-4();

  &:active,
  &:hover {
    background: @blue-600;
  }

  &:focus {
    box-shadow: 0 1px 2px @blue-50, 0 0 0 3px @blue-50;
    border-radius: 6px;
  }

  &:disabled {
    background: @blue-100;
    cursor: not-allowed;
  }

  &-secondary {
    color: @blue-400;
    border: 1px solid @blue-400;
    background: @white;

    &:hover {
      background: #F2F5FF
    }

    &:focus {
      box-shadow: 0 1px 2px @blue-50, 0 0 0 3px @blue-50;
      border-radius: 6px;
    }

    &:active {
      background: @blue-25;
      border: 1px solid @blue-400;
      box-shadow: 0 1px 2px rgba(45, 54, 67, 0.05);
    }

    &:disabled {
      background: @white;
      border: 1px solid @blue-100;
      cursor: not-allowed;
    }
  }
}

.btn-sm:extend(.btn) {
  .paragraph-medium-5();
}


.btn-lg:extend(.btn) {
  .paragraph-medium-3();
}