@import "styles/colors.less";
@import "styles/paragraphs.less";

.table {
  border-collapse: collapse;
  width: 100%;

  .thead {
    .tr {
      .cell {
        background: @gray-25;
        text-align: start;
        .paragraph-medium-6();
        color: @slate-gray-400;
      }
    }
  }

  .thead,
  .tbody
  {
    .tr {
      .cell {
        padding: 15px 20px 15px;
      }
      .noData {
        display: flex;
        justify-content: center;
      }
    }
  }

  .tbody {
    .tr {
      color: @slate-gray-500;
      .paragraph-medium-5();
    }
    .tr + .tr {
        border-top: @gray-100 solid 1px;
    }
  }
}